@import url(https://fonts.googleapis.com/css?family=Michroma);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Trebuchet MS';
  text-align: center;
  color: #333;
  background-color: #333; }

h1, h2, h3 {
  font-family: 'Michroma', sans-serif; }

h1 {
  display: block;
  font-size: 6rem;
  line-height: 2; }

h2 {
  font-size: 5rem;
  margin: 0;
  margin-bottom: 5rem; }

h3 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0; }

p {
  line-height: 1.5; }

.unstyle-link a, .menu a {
  text-decoration: none; }

#site-wrapper {
  min-height: 100%;
  height: 100%; }

.menu {
  height: 100%;
  width: 100%;
  background-color: #333;
  transition: top 0.5s ease-in-out;
  position: fixed;
  top: -100%;
  z-index: 9; }
  .menu .menu-item {
    height: 33.33333%;
    width: 100%;
    font-family: 'Michroma', sans-serif;
    font-size: 5rem;
    line-height: calc(100vh * 0.3333);
    vertical-align: middle;
    color: #ccc;
    transition: color 0.2s ease-in, background-color 0.25s ease-in; }
  .menu .menu-item:hover {
    color: #333;
    background-color: steelblue; }

.menu-dropdown {
  top: 0; }

.menu-button {
  height: 48px;
  width: 48px;
  font-size: 2em;
  border-radius: 2px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 99; }
  .menu-button .fa-bars {
    display: block;
    position: relative;
    top: 10px; }

.menu-white {
  color: #ccc; }

.menu-black:hover {
  background-color: rgba(190, 190, 190, 0.5); }

.menu-white:hover {
  background-color: rgba(51, 51, 51, 0.5); }

#header {
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0; }

#fill {
  height: 40%;
  background-color: #333;
  position: absolute;
  z-index: 2; }

.banner {
  height: 20%;
  width: 100%;
  position: absolute;
  top: 40%; }

#banner1 {
  height: 40%;
  background-image: url(../images/portrait-bw.jpg);
  background-position: top;
  background-size: cover;
  animation: banner1 1s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  z-index: 1; }

@-webkit-keyframes banner1 {
  0% {
    top: 40%; }
  100% {
    top: 0; } }
@-moz-keyframes banner1 {
  0% {
    top: 40%; }
  100% {
    top: 0;
    height: 40%; } }
@keyframes banner1 {
  0% {
    top: 40%; }
  100% {
    top: 0;
    height: 40%; } }
#banner2 {
  background-image: url(../images/code.jpg);
  background-position: center;
  background-size: cover;
  animation: banner2 0.5s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  box-shadow: 0px 3px 10px 1px #000;
  z-index: 3; }

@-webkit-keyframes banner2 {
  0% {
    top: 40%; }
  100% {
    top: 60%; } }
@-moz-keyframes banner2 {
  0% {
    top: 40%; }
  100% {
    top: 60%; } }
@keyframes banner2 {
  0% {
    top: 40%; }
  100% {
    top: 60%; } }
#banner3 {
  background-image: url(../images/code-icons.jpg);
  background-position: bottom;
  background-size: cover;
  animation: banner3 1s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.55s;
  z-index: 2; }

@-webkit-keyframes banner3 {
  0% {
    top: 40%; }
  100% {
    top: 80%; } }
@-moz-keyframes banner3 {
  0% {
    top: 40%; }
  100% {
    top: 80%; } }
@keyframes banner3 {
  0% {
    top: 40%; }
  100% {
    top: 80%; } }
#banner4 {
  line-height: calc(100vh * 0.2);
  vertical-align: middle;
  color: rgba(51, 51, 51, 0);
  background-color: steelblue;
  background-image: url(../images/shattered.png);
  animation: banner4 1s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 1.75s;
  box-shadow: 0px 0px 16px 6px #333;
  z-index: 4; }

@-webkit-keyframes banner4 {
  0% {
    color: rgba(51, 51, 51, 0); }
  100% {
    color: #333333; } }
@-moz-keyframes banner4 {
  0% {
    color: rgba(51, 51, 51, 0); }
  100% {
    color: #333333; } }
@keyframes banner4 {
  0% {
    color: rgba(51, 51, 51, 0); }
  100% {
    color: #333333; } }
.main-content {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 50px); }
  .main-content #triangle-about {
    height: 0;
    width: 100%;
    border-left: 49vw solid steelblue;
    border-right: 49vw solid steelblue;
    border-top: 50px solid transparent;
    border-bottom: 0px solid steelblue;
    position: absolute;
    top: -50px; }
  .main-content #triangle-projects {
    height: 0;
    width: 100%;
    border-left: 49vw solid transparent;
    border-right: 49vw solid transparent;
    border-top: 50px solid steelblue;
    border-bottom: 0px solid transparent;
    position: absolute;
    z-index: 2; }
  .main-content #triangle-contact {
    height: 0;
    width: 100%;
    border-left: 49vw solid lightskyblue;
    border-right: 49vw solid lightskyblue;
    border-top: 50px solid transparent;
    border-bottom: 0px solid lightskyblue;
    position: relative;
    top: -65px;
    z-index: 2; }
  .main-content p {
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    text-align: left; }

.content {
  padding: 1em 0;
  padding-bottom: 100px; }

#about-anchor {
  height: 14%;
  width: 100%;
  position: absolute;
  top: calc(-14% - 50px); }

#about {
  min-height: 100%;
  width: 100%;
  padding-top: 100px;
  background-color: steelblue; }

#projects {
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding-top: 125px;
  padding-bottom: 200px;
  color: #ccc;
  background-image: url(../images/rayure_blue.jpg);
  background-attachment: fixed;
  background-position: center; }
  #projects .project-link {
    height: 300px; }
  #projects .row {
    padding: 0 4rem; }
  #projects .project-panel {
    height: 300px; }
  #projects #memory {
    background: url(../images/memory.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  #projects #interact {
    background: url(../images/interact.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  #projects #cascadingstylequiz p {
    text-align: center;
    font-size: 6rem;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: lightgreen 4px 4px 1px; }

#contact {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: lightskyblue; }

#footer {
  height: 30px;
  width: 100%;
  font-size: 0.75em;
  line-height: 30px;
  vertical-align: middle;
  color: steelblue;
  background-color: #333; }

/*# sourceMappingURL=style.css.map */
