.btn {
  height: 45px + $btn-chevron-border * 2;
  width: 140px + $btn-chevron-border * 2;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#btn-chevron-border {
  height: 45px + $btn-chevron-border * 2;
  width: 140px + $btn-chevron-border * 2;
  margin: auto;
}

#btn-chevron-border:before, #btn-chevron-border:after {
  background-color: #eee;
}

.btn-chevron:before, .btn-chevron:after {
  background-color: lightskyblue;
}

.btn-chevron:hover:before, .btn-chevron:hover:after {
  background-color: dodgerblue;
}

#btn-chevron {
  position: absolute;
  top: $btn-chevron-border;
  left: $btn-chevron-border;

  span {
    width: 140px + $btn-chevron-border * 2;
    font-family: 'Michroma', sans-serif;
    margin: 0 auto;
    color: #eee;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
  }

  .fa {
    font-size: 1.25em;
  }
}

.btn-chevron {
  text-align: center;
  padding: 12px;
  margin: auto;
  margin-bottom: 6px;
  height: 45px;
  width: 140px;
  position: relative;
}

.btn-chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}

.btn-chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}