$menu-item-height: 100% / 4;

$site-color: steelblue;

$about-color: steelblue;
$skills-background: url(../images/rayure_blue.jpg);
$projects-color: #1a78ba;
$contact-background: url(../images/simple_blue.jpg);
$footer-color: #333;

$btn-chevron-border: 3px;

// Nice light blue colour to use later #4ebaff;