.menu {
  @apply tw-h-full
  lg:tw-h-auto
  tw-w-full
  tw-transition
  tw-ease-out
  tw-duration-500
  tw-fixed
  -tw-top-full
  lg:tw-top-0
  tw-z-[98];
}

.menu ul {
  @apply tw-h-full lg:tw-w-full lg:tw-flex lg:tw-justify-center tw-bg-dark-gray;
}

.menu a {
  @apply tw-h-full tw-w-full tw-flex tw-justify-center tw-items-center lg:tw-py-3 lg:tw-px-5 tw-no-underline;
}

.menu .menu__item {
  font-family: 'Michroma', sans-serif;
  transition: color 0.2s ease-in, background-color 0.25s ease-in;

  @apply tw-h-1/4
  tw-w-full
  lg:tw-w-auto
  tw-text-5xl
  lg:tw-text-sm
  hover:tw-text-dark-gray
  hover:tw-bg-steel-blue
  tw-text-gray-300;
}

.menu__button {
  @apply lg:tw-hidden
  tw-flex
  tw-justify-center
  tw-items-center
  tw-p-2
  tw-text-3xl
  hover:tw-bg-gray-400
  hover:tw-bg-opacity-50
  tw-rounded-sm
  tw-cursor-pointer
  tw-fixed
  tw-top-3
  tw-left-3
  tw-z-[99];
}
