.project-card {
  @apply tw-w-9/12 sm:tw-w-60 sm:tw-mr-8 last:tw-mr-0 tw-mb-8 last:tw-mb-0 sm:tw-mb-0;
}

.project-card h3,
.project-card__btn {
  font-family: "Michroma", sans-serif;
}

.project-card h3 {
  @apply tw-mb-2;
}

.project-card img {
  @apply tw-h-auto sm:tw-h-60 tw-w-full tw-mb-10;
}

.project-card__middle {
  @apply tw-relative;
}

.project-card__btn {
  @apply tw-h-8
  tw-flex
  tw-justify-center
  tw-items-center
  tw-text-xs
  tw-absolute
  -tw-bottom-6
  sm:-tw-bottom-7
  tw-z-0;
}

.project-card__btn--left i,
.project-card__btn--right i {
  @apply tw-mr-1
}

.project-card__btn--left {
  /* Set width to 51% to fix space appearing between buttons in mobile view */
  @apply tw-w-[51%] tw-left-0;
}

.project-card__btn--right {
  @apply tw-w-1/2 tw-right-0;
}

.project-card__btn--left:after,
.project-card__btn--right:after {
  content: '';

  @apply tw-h-full
  tw-w-full
  tw-bg-light-sky-blue
  tw-absolute
  -tw-z-10
  tw-transition-colors
  tw-duration-[250ms]
  tw-ease-in;
}

.project-card__btn--left:after {
  @apply tw-skew-y-[4deg];
}

.project-card__btn--right:after {
  @apply -tw-skew-y-[4deg];
}

.project-card__btn--left:hover,
.project-card__btn--right:hover {
  @apply tw-text-light-sky-blue;
}

.project-card__btn--left:hover:after,
.project-card__btn--right:hover:after {
  @apply tw-bg-dark-gray;
}
