@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Michroma);
@import 'menu.css';
@import 'banner.css';
@import 'content.css';
@import 'button.css';
@import 'triangle.css';
@import 'skill-list.css';
@import 'project-card.css';
@import 'contact.css';
@import 'grid.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  @apply tw-h-full tw-m-0 tw-p-0;
}

body {
  font-family: 'Helvetica';

  @apply tw-text-gray-800 tw-bg-dark-gray;
}

h1, h2, h3 {
  font-family: "Michroma", sans-serif;
}

h1, h2 {
  @apply tw-text-center;
}

h2 {
  @apply tw-text-4xl md:tw-text-5xl tw-mb-8;
}

h3 {
  @apply tw-font-bold tw-mb-3;
}

a {
  @apply tw-underline;
}
