.triangle {
  border-top: 50px solid steelblue;
  border-right: 49vw solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 49vw solid transparent;

  @apply tw-h-0 tw-w-full tw-relative -tw-top-18.75
}

.triangle--inverted {
  @apply tw-h-0
  tw-w-full
  tw-border-t-transparent
  tw-border-r-steel-blue
  tw-border-b-steel-blue
  tw-border-l-steel-blue
  tw-relative
  -tw-top-25
}
